@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.container{
    max-width: 1260px;
    margin: auto;
}
nav{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    width: 100%;
    font-size: 24px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
    flex: 1;
    padding-top: 100px;
}
.image-section img{
    width: 100%;
    max-width: 539px;
}
.text-section{
    text-align: left;
    font-family: 'Space Mono', monospace;
}
.head-text{
    font-weight: 700;
    font-size: 64px;   
    line-height: 94.78px;
    margin-bottom: 36px;
    max-width: 586px;
}

.paragraph{
    font-weight: 400;
    font-size: 24px;
    max-width: 390px;
    margin-bottom: 64px;
}
.btn{
    background-color: #333333;
    color:white;
    font-size: 14px;
    padding: 24px 43px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
@media screen and (max-width:740px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 50px;
    }
    .image-section img{
        max-width: 80vw;
    }
    .head-text{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .paragraph{
        font-size: 20px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width:540px){
    .head-text{
        font-size: 48px;
        line-height: 71.09px;
    }
    .paragraph{
        font-size: 18px;
        margin-bottom: 66px;
    }
}
